.calendar__section input,
button {
  color: #6c757d;
  border: none;
  background-color: white;
  padding: 10px;
}
.calendar__section button:hover {
  background: linear-gradient(90deg, #19d3ae9c, #0fceeba4);
  border-radius: 10px;
  color: white;
}
.calendar__section button:focus {
  background: var(--gradient-color);
  color: white;
  border-radius: 10px;
}
.calendar__section abbr {
  text-decoration: none;
}
.calendar__section {
  padding: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}
